header {
  height: 680px;
  margin: 0 auto; }

#nav {
  position: fixed;
  left: 33px;
  top: 0;
  z-index: 99; }
  #nav .logo {
    margin-top: 44px; }
  #nav .logo a {
    font: 700 26px "";
    color: #000; }
  #nav .nav-b {
    margin-top: 45px; }
    #nav .nav-b li ul {
      margin-left: 10px;
      font: 12px/24px "";
      color: #dedede; }
  #nav .nav-b li a {
    font: 12px/30px "";
    color: #000; }
  #nav .nav-b li a:hover {
    border-bottom: 1px solid #000; }

#sidebar {
  position: fixed;
  right: 26px;
  top: 54px;
  z-index: 99; }
  #sidebar ul li a {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 24px; }
  #sidebar ul li a i {
    position: absolute;
    top: 0;
    right: 25px;
    display: none;
    width: 60px;
    background-color: #fff;
    opacity: 0.5;
    text-align: center;
    color: #000;
    font: 12px/25px ""; }
  #sidebar ul li:nth-child(5) a input {
    position: absolute;
    top: 0;
    right: 25px;
    display: none;
    width: 60px;
    background-color: #fff;
    opacity: 0.5;
    text-align: center;
    color: #000;
    font: 12px/25px ""; }
  #sidebar ul li:nth-child(1) a {
    background: url(../img/user.png) no-repeat center; }
  #sidebar ul li:nth-child(1) a:hover {
    background: url(../img/_user.png) no-repeat center; }
    #sidebar ul li:nth-child(1) a:hover i {
      display: block; }
  #sidebar ul li:nth-child(2) a {
    background: url(../img/sign.png) no-repeat center; }
  #sidebar ul li:nth-child(2) a:hover {
    background: url(../img/_sign.png) no-repeat center; }
    #sidebar ul li:nth-child(2) a:hover i {
      display: block; }
  #sidebar ul li:nth-child(3) a {
    background: url(../img/cart.png) no-repeat center; }
  #sidebar ul li:nth-child(3) a:hover {
    background: url(../img/_cart.png) no-repeat center; }
    #sidebar ul li:nth-child(3) a:hover i {
      display: block; }
  #sidebar ul li:nth-child(4) a {
    background: url(../img/favorite.png) no-repeat center; }
  #sidebar ul li:nth-child(4) a:hover {
    background: url(../img/_favorite.png) no-repeat center; }
    #sidebar ul li:nth-child(4) a:hover i {
      display: block; }
  #sidebar ul li:nth-child(5) a {
    background: url(../img/search.png) no-repeat center; }
  #sidebar ul li:nth-child(5) a:hover {
    background: url(../img/_search.png) no-repeat center; }
    #sidebar ul li:nth-child(5) a:hover input {
      display: block; }
  #sidebar ul li:nth-child(6) a {
    background: url(../img/contact.png) no-repeat center; }
  #sidebar ul li:nth-child(6) a:hover {
    background: url(../img/_contact.png) no-repeat center; }
    #sidebar ul li:nth-child(6) a:hover i {
      display: block; }

#main {
  background: #fff;
  padding: 20px 0 42px; }
  #main .margin {
    width: 998px;
    margin: 0 auto; }
    #main .margin .newproduct {
      height: 500px;
      position: relative; }
      #main .margin .newproduct .newproduct-l img {
        float: left;
        width: 664px;
        height: 100%; }
      #main .margin .newproduct .newproduct-zhezhao {
        opacity: 0;
        position: absolute;
        width: 664px;
        height: 500px;
        background: #000;
        left: 0;
        top: 0; }
        #main .margin .newproduct .newproduct-zhezhao img {
          position: absolute;
          width: 450px;
          height: 102px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto auto; }
      #main .margin .newproduct .newproduct-r img {
        float: left;
        width: 334px;
        height: 100%; }
    #main .margin .changeable {
      position: relative;
      height: 500px; }
      #main .margin .changeable .changeable-r img {
        float: left;
        width: 664px;
        height: 100%; }
      #main .margin .changeable .changeable-zhezhao {
        opacity: 0;
        position: absolute;
        width: 664px;
        height: 500px;
        background: #000;
        right: 0;
        top: 0; }
        #main .margin .changeable .changeable-zhezhao img {
          position: absolute;
          width: 450px;
          height: 102px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto auto; }
      #main .margin .changeable .changeable-l img {
        float: left;
        width: 334px;
        height: 100%; }
    #main .margin .moods {
      position: relative;
      height: 500px; }
      #main .margin .moods .moods-l img {
        float: left;
        width: 664px;
        height: 100%; }
      #main .margin .moods .moods-zhezhao {
        opacity: 0;
        position: absolute;
        width: 664px;
        height: 500px;
        background: #000;
        left: 0;
        top: 0; }
        #main .margin .moods .moods-zhezhao img {
          position: absolute;
          width: 450px;
          height: 102px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto auto; }
      #main .margin .moods .moods-r img {
        float: left;
        width: 334px;
        height: 100%; }
    #main .margin .summer img {
      width: 100%;
      height: 100px; }
    #main .margin .brand {
      height: 500px;
      position: relative; }
      #main .margin .brand .brand-l img {
        float: left;
        width: 664px;
        height: 100%; }
      #main .margin .brand .brand-r img {
        float: left;
        width: 334px;
        height: 100%; }
      #main .margin .brand .brand-zhezhao {
        opacity: 0;
        position: absolute;
        width: 334px;
        height: 500px;
        background: #000;
        right: 0;
        top: 0; }
        #main .margin .brand .brand-zhezhao img {
          position: absolute;
          width: 334px;
          height: 102px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto auto; }

footer {
  background: #ededed;
  padding-top: 64px; }
  footer #zhiding {
    position: fixed;
    right: 1.2%;
    bottom: 20px;
    display: block;
    width: 40px;
    height: 38px;
    background: url(../img/top.png) center no-repeat #9e9fa3; }
  footer #zhiding:hover {
    background-color: #000; }
  footer .footer-t {
    width: 694px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 58px; }
    footer .footer-t h3 {
      font: 14px/38px "";
      color: #4d4d4d; }
    footer .footer-t .footer-t-l ul li a {
      font: 12px/30px "";
      color: #4d4d4d; }
    footer .footer-t .footer-t-b ul li a {
      font: 12px/30px "";
      color: #4d4d4d; }
    footer .footer-t .footer-t-r ul li a {
      font: 12px/30px "";
      color: #4d4d4d; }
    footer .footer-t .footer-t-r ul div {
      font-size: 24px; }
    footer .footer-t .footer-t-r ul div a:nth-child(1) {
      display: inline-block;
      width: 29px;
      height: 29px;
      background: url(../img/sina.png); }
    footer .footer-t .footer-t-r ul div a:nth-child(1):hover {
      background: url(../img/_sina.png) center no-repeat; }
    footer .footer-t .footer-t-r ul div a:nth-child(2) {
      display: inline-block;
      width: 29px;
      height: 29px;
      background: url(../img/baidu.png); }
    footer .footer-t .footer-t-r ul div a:nth-child(2):hover {
      background: url(../img/_baidu.png) center no-repeat; }
  footer .footer-b {
    text-align: center;
    font: 12px/20px "";
    color: #4d4d4d; }
    footer .footer-b a {
      display: inline-block; }

/*# sourceMappingURL=index.css.map */
