@charset "utf-8";
body{
    background-color:#fafafa;
}
.margin{
    width:958px;
    margin:0 auto;
} 
header{
   height:148px;
   position: relative;
   .header-l{
       margin-top:80px;
       float:left;
      .sj{
          width:10px;
          height:12px;
          background:url(../img/t2.jpg) no-repeat center;
      }
      .xj{
           width:10px;
          height:12px;
          background:url(../img/t3.jpg) no-repeat center;
      }
       a{
           font :12px "";
           margin-right:14px;
           display:inline-block;
       }
   }
   input{
       margin-top:80px;
       height:26px;
       width:192px;
       float:left;
       border:1px solid #ccc;
       background:url(../img/t1.jpg)  no-repeat right;
   }
   .header-r{
       margin-top:80px;
       margin-left:34px;
       float: left;
       span{
           margin:0 14px 0 10px;
       }
   }
   .pagination{
       position: absolute;
       right:0;
      top:110px;
   }
}
#list{
   #nav{
        position:fixed;
        left:33px;
        top:0;
        .logo{
            margin-top:44px;
        }
        .logo a{
            font:700 26px "";
            color:#000;
        }
        .nav-b{
            margin-top:45px;
            li ul{
                margin-left:10px;
                font:12px/24px "";
                color:#dedede;
            }
        }
        .nav-b li a{
             font:12px/30px "";
             color:#000;
        }
        .nav-b li a:hover{
             border-bottom: 1px solid #000;
        }
    }
   #sidebar{
        position:fixed;
        right:26px;
        top:54px;
        ul li a{
            position:relative;
            display: block;
            width:25px;
            height:25px;
            margin-top: 24px;
        }
        ul li a i{
            position:absolute;
            top:0;
            right:25px;
            display:none;
            width:60px;
            background-color:#fff;
            opacity:0.5;
            text-align: center;
            color:#000;
            font:12px/25px "";
        }
        ul li:nth-child(5) a input{
            position:absolute;
            top:0;
            right:25px;
            display:none;
            width:60px;
            background-color:#fff;
            opacity:0.5;
            text-align: center;
            color:#000;
            font:12px/25px "";
        }
        ul li:nth-child(1) a{
            background:url(../img/user.png) no-repeat center;
        }
        ul li:nth-child(1) a:hover{
            background:url(../img/_user.png) no-repeat center;
            i{
              display:block;  
            }
        }
        ul li:nth-child(2) a{
            background:url(../img/sign.png) no-repeat center;
        }
        ul li:nth-child(2) a:hover{
            background:url(../img/_sign.png) no-repeat center;
            i{
              display:block;  
            }
        }
        ul li:nth-child(3) a{
            background:url(../img/cart.png) no-repeat center;
        }
        ul li:nth-child(3) a:hover{
            background:url(../img/_cart.png) no-repeat center;
            i{
              display:block;  
            }
        }
        ul li:nth-child(4) a{
            background:url(../img/favorite.png) no-repeat center;
        }
        ul li:nth-child(4) a:hover{
            background:url(../img/_favorite.png) no-repeat center;
            i{
              display:block;  
            }
        }
        ul li:nth-child(5) a{
            background:url(../img/search.png) no-repeat center;
        }
        ul li:nth-child(5) a:hover{
            background:url(../img/_search.png) no-repeat center;
            input{
              display:block;  
            }
        }
        ul li:nth-child(6) a{
            background:url(../img/contact.png) no-repeat center;
        }
        ul li:nth-child(6) a:hover{
            background:url(../img/_contact.png) no-repeat center;
            i{
              display:block;  
            }
        }
    }   
}
#main{
    ul{
       display: flex;
        justify-content:space-between;
        flex-wrap:wrap;
        li a{
        position:relative;
        display:block;
        width:231px;
        height:287px;
             img{
                position:absolute;
                width:231px;
                height:287px;
             }
        }
        li div{
            height:120px;
            p{
                font:12px/26px "";
                color:#000;
                padding-top:20px;
            }
            span{
                font:10px/24px;
                color:#e00b0b;
            }
        }  
    }
   
}
footer{
    background:#ededed;
    padding-top:64px;
    .footer-t{
        width:694px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
        text-align: center;
        padding-bottom: 58px;
        h3{
            font:14px/38px "";
            color:#4d4d4d;
        }
        .footer-t-l{
            ul li a{
                font:12px/30px "";
                color:#4d4d4d;
            }
        }
        .footer-t-b{
            ul li a{
                font:12px/30px "";
                color:#4d4d4d;
            }
        }
        .footer-t-r{
            ul li a{
                font:12px/30px "";
                color:#4d4d4d;
            }
        }
    }
    .footer-b{
        text-align: center;
        font:12px/20px "";
        color:#4d4d4d;
        a{
            display: block;
        }
    }
}